<h1> Boards</h1>

<div class='ui cards'>
  <% @boards.each do |board| %>
    <div class='card'>
      <div class='header'>
        <%= link_to board.title, board %>
      </div>
    </div>
  <% end %>
</div>

<%= link_to 'Add a new Board', new_board_path %>

<%= button_to 'logout', destroy_user_session_path, method: :delete %>