<h1> Boards</h1>

  <% @boards.each do |board| %>
      <%= link_to board.title, board %>
  <% end %>
</div>

<%= link_to 'Add a new Board', new_board_path %>

<%= button_to 'logout', destroy_user_session_path, method: :delete %>